html{
    background-color: black;
    
}
header{
    font: sans-serif;
    background-image: url(fundo.jpg);
    height: 95vh;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
    margin-left: 2%;
    margin-right: 2%; 
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    background: #000000b6;
}
section{
    height: 300px;
}
   @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: absolute;
  top: 54%;
  left: 50%;
  margin-top: 300px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color:rgb(43, 44, 46);
  border-radius: 7px 7px 7px 7px;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #000000;
}
* {
    margin: 0;
    padding: 0;
    }

label[for=”bt_menu”]{
    padding: 5px;
    background-color: #fffefe;
    color: #fff;
    font-family: Arial;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    }
   
   #bt_menu {
    display: none;
    }
   
   label[for=”bt_menu”]{
    display: none;
    }
   
@media(max-width: 800px) {
    label[for=”bt_menu”] {
     display: block;
     }
      
    #bt_menu:checked ~ .menu{
     margin-left: 0;
     }
      
    .menu{
     margin-top: 5px;
     margin-left: -100%;
     transition: all .4s;
     }
      
    .menu ul li {
     width: 100%;
     float: none;
     }
      
    .menu ul ul {
     position: static;
     overflow: hidden;
     max-height: 0;
    }
}
h2{
  margin-left: 00px;
  margin-right: 200px;
  font: sans-serif;
  color: rgb(0, 0, 0);
  font-size: 40px;
}
h3{
  font-family: 'Archivo Black', sans-serif;
  color: rgb(0, 0, 0);
  margin:auto;
}