<!DOCTYPE html>
<html>
  
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content = "width=device-widht, initial-scale=1.0">
        <title>Tela de login</title>
        <link rel="stylesheet" type="text/css" href="../styles/Estilos.css">
        <link rel="icon" href="../styles/LOGO.png" />
    
    </head>
    <body> 
        <h1>LOGIN</h1>
       
        <form method="POST" action="processa.php">
            
            <input type="e-mail" name="login" placeholder="Login:" autocomplete="off"> <br> 
            <br>
           
            <input name="password1" type="password" placeholder="Senha:" id="password" autocomplete="off"/> <br>
            <br>
            <input name="password2" type="password" placeholder="Confirme sua senha:" id="confirm_password" autocomplete="off"/> <br>
            <br> 
             <input type="checkbox" size="10" name="manter" value="conectado"><label for="checkbox"> Manter-me conectado</label><input type="submit" name="Entrar" value="Entrar"> <br>
            <br>
            <input type="button" name="Cadastro" value="Registre-se"><input type="button" value="Esqueci minha senha" name="Esqueci minha Senha" id="forgot-pass"> <br>
            <br>
    </body>
