<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content = "width=device-widht, initial-scale=1.0">
    <title>Handball Today</title>
    <link rel="stylesheet" type="text/css" href="../styles/yours.css">
</head>
    <header>
        <div class="container">
            <h1> O MUNDO HANDEBOLISTA HOJE E AGORA </h1>
        </div>
        <div class="page">
        </nav>
        <nav class="page__menu page__custom-settings menu">
          <ul class="menu__list r-list">
            <li class="menu__group"><a href="yours.html#home" class="menu__link r-link text-underlined">Home</a></li>
            <li class="menu__group"><a href="yours.html#times" class="menu__link r-link text-underlined">Times</a></li>
            <li class="menu__group"><a href="yours.html#login" class="menu__link r-link text-underlined">Login</a></li>
          </ul>
        </nav>
      </div>
        </header>
        <section></section>
        <div>      
          <img src="../styles/marijan_murat_lusa2.jpg">
        <h4 id="home"><bold>O HANDEBOL</bold></h4>
        <br>
        <p>Criado em 1919, na Alemanha, este esporte caracterizado pelo contato fisico entre os jogadores,ganha o coraçao de muitos amantes do esporte ao redor do mundo. No Brasil, o Handebol chegou por volta de 1930, ficando famoso na regiao de Sao Paulo.</p>
          <p>Com equipes de sete jogadores, sendo eles: Ponta Direita e esquerda, Armação direita e esquerda, Goleiro, Pivo e Central; O Handebol atualmente faz parte dos jogos olimpicos de verao e da juventude.</p>
          <p>No Brasil, possuimos campeonatos bem conhecidos nesse meio esportivo, como a Liga Nacional de Clubes, entretanto recentemente com o intuito de dar mais vizibilidade ao Handebol feminno no país foi criado a Liga Hand Feminina, onde algumas equipes como Pinheiros, Concordia, Blumenau participam desta primeira edição</p>
        <p> Eu me chamo Luize Baldoni, sou goleira de handebol ha 6 anos e venho apresentar-lhes um pouco deste mundo incrivel que é fazer parte do esporte</p>
        </div>

<br>
<br>
<br>
<br>
<br>
    <h2 id="times"> <bold> Equipes Internacionais da EHF </bold> </h2> <br>
    <br>
    <br>
    <table  class="bordered striped centered highlight responsive-table">
      <thead>
      <tr>
          <th>Nome</th>
          <th>Tecnico</th>
          <th>Naipe</th>
          <th>País</th>
          <th>Tipo</th>
          <th>Competição_atual</th>
      </tr>
    </thead>
      <tr class="even" >
        <td>KRIM MERCATOR</td>
        <td>Natalia Derepasko</td>
        <td>Feminino</td>
        <td>Eslovenia</td>
        <td>Profissional</td>
        <td>EHF CHAMPIONS LEAGUE</td>
      </tr>
      <tr>

        <td>ODENSE HANDBOLD</td>
        <td>Ulrik Kirley</td>
        <td>Dinamarca</td>
        <td>Eslovenia</td>
        <td>Profissional</td>
        <td>EHF CHAMPIONS LEAGUE</td>
        </tr>

        <tr class="even">
          <td>ROCASA GRAN CANARIA</td>
          <td>Robert Cuesta</td>
          <td>Feminino</td>
          <td>Espanha</td>
          <td>Profissional</td>
          <td>EHF EUROPEAN CUP</td>
        </tr> 

          <tr>
            <td>PARIS SAN GERMAIN HANDBALL</td>
            <td>Regis Boxele</td>
            <td>Masculino</td>
            <td>França</td>
            <td>Profissional</td>
            <td>EHF CHAMPIONS LEAGUE</td>
          </tr>

            <tr class="even">
              <td>RK METALOPLASTIKA SABAC</td>
              <td>Miodrag Kazic</td>
              <td>Masculino</td>
              <td>Servia</td>
              <td>Profissional</td>
              <td>EHF EUROPEAN CUP</td>
            </tr>

            <tr>
              <td>HERPERTZ BEVO HC</td>
              <td>Peter Kersten</td>
              <td>Masculino</td>
              <td>Paises Baixos</td>
              <td>Profissional</td>
              <td>EHF EUROPEAN CUP</td>
            </tr>

  </table>
    <br>
    <br>
    <h3 id="login"> <bold> BEM VINDO </bold> </h3> <br>
    <form method="POST" action="processa.php">
            
      <input type="e-mail" name="login" placeholder="Login:" autocomplete="off"> <br> 
      <br>
     
      <input name="password1" type="password" placeholder="Senha:" id="password" autocomplete="off"/> <br>
      <br>
      <input name="password2" type="password" placeholder="Confirme sua senha:" id="confirm_password" autocomplete="off"/> <br>
      <br> 
       <input type="checkbox" size="10" name="manter" value="conectado"><label for="checkbox"> Manter-me conectado</label><input type="submit" name="Entrar" value="Entrar"> <br>
      <br>
      <input type="button" name="Cadastro" value="Registre-se"><input type="button" value="Esqueci minha senha" name="Esqueci minha Senha" id="forgot-pass"> <br>
      <br>
</html>