<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content = "width=device-widht, initial-scale=1.0">
    <title>Handball Today</title>
    <link rel="stylesheet" type="text/css" href="../styles/yours.css">
</head>
    <header>
        <div class="container">
            <h1> O MUNDO HANDEBOLISTA HOJE E AGORA </h1>
        </div>
        <div class="page">
        </nav>
        <nav class="page__menu page__custom-settings menu">
          <ul class="menu__list r-list">
            <li class="menu__group"><a href="yours.html#Login" class="menu__link r-link text-underlined">Login</a></li>
            <li class="menu__group"><a href="yours.html#times" class="menu__link r-link text-underlined">Times</a></li>
            <li class="menu__group"><a href="yours.html#noticias" class="menu__link r-link text-underlined">Noticias</a></li>
          </ul>
        </nav>
      </div>
      
        </header>
        <section></section>
<br>
<br>
<br>
<body>
    <h2 id="times"> <bold> Times </bold> </h2> <br>
    <p></p>
    <h3 id="noticias"> <bold> Noticias </bold> </h3> <br>








<h4 id="Login" > Login </h4>
    <form method="POST" action="processa.php">
            
      <input type="e-mail" name="login" placeholder="Login:" autocomplete="off"> <br> 
      <br>
     
      <input name="password1" type="password" placeholder="Senha:" id="password" autocomplete="off"/> <br>
      <br>
      <input name="password2" type="password" placeholder="Confirme sua senha:" id="confirm_password" autocomplete="off"/> <br>
      <br> 
       <input type="checkbox" size="10" name="manter" value="conectado"><label for="checkbox"> Manter-me conectado</label><input type="submit" name="Entrar" value="Entrar"> <br>
      <br>
      <input type="button" name="Cadastro" value="Registre-se"><input type="button" value="Esqueci minha senha" name="Esqueci minha Senha" id="forgot-pass"> <br>
      <br>

  </body>
</html>